html {
  scroll-behavior: smooth;
}

.bg-information{
    background-color: rgb(25, 25, 87);
    color: aliceblue;
}
.navbar-color{
    background-color:rgb(15, 15, 52) ;
}

p{
    font-size: larger;
}

h3{
    color: rgb(0, 225, 255);
}

h5, li{
    font-weight: 600;
    font-size: large
}